/*common*/
.agent.el-button{
  background-color: #000;
  border-radius: 14px;
  width: 100px;
  height: 26px;
}
.agent.el-button span{
  color: #ffdb15 !important;
}

.agented{
  background-color: #ffdb15;
  color: #000;
  border-radius: 14px;
  width: 100px;
  height: 26px;
}

.error{
  font-size: 1.2rem;
  color: #f00;
}

