.account .center-tab .el-tab-pane .top, .account .center-tab .el-tab-pane .middle, .account .center-tab .el-tab-pane .bottom{
  background-color: #fff;
  margin-top:4px;
}

.account .center-tab .info .top {
  height:140px;
  width: 100%;

}
.account .center-tab .info .top>.el-col {
  margin-right:10px;

}
.account .center-tab .info .top .el-row:last-child {
   margin-top:20px;
}

/*middle bottom title*/
.account .center-tab .middle, .account .center-tab .info .bottom{
  padding-bottom: 30px;
}
.account .center-tab .middle .el-row div>div, .account .center-tab .info .bottom .el-row div>div{
  padding-top: 30px;
  font-size: 1.6rem;
}
/*middle bottom form*/
.account .center-tab .middle .el-form, .account .center-tab .info .bottom .el-form{
  padding-top:30px;
  margin-left: 106px;
}

/*middle form*/
.account .center-tab .middle .el-input, .account .center-tab .middle .el-input .el-input__inner {
   width:400px;
   height: 30px;
}

.account .center-tab .middle .area .el-form-item__content{
  display: flex;
  flex-direction: row;
}

.account .center-tab .info .middle .area .el-input, .account .center-tab .info .middle .area .el-input .el-input__inner{
  width: 100px;
}

.account .center-tab .info .middle .area .el-select{
  margin-left: 20px;
}
.account .center-tab .info .middle .area .el-select:first-child{
  margin-left: 0px;
}


.account .center-tab .info .bottom .el-input .el-input__inner{
  width:160px;
  height:34px;
}

.account .center-tab .info .bottom .el-select .el-input .el-input__inner{
  width:82px;
}

.account .center-tab .info .bottom .el-button{
  margin-left:10px;
  height:26px;
  padding: 0px 16px !important;
  color: #000;
  border-radius: 20px 20px;
  border: none;
}
.account .center-tab .info .bottom .el-button span{
  font-size: 1.2rem;
}

/*addBtn*/
.account .center-tab .info .bottom .addBtn .el-button{
  border: none;
  padding: 8px 30px !important;
  height: 40px;
  border-radius: 0;
  color: #ffdb15;
}
.account .center-tab .info .bottom .addBtn .el-button span{
  font-size: 1.6rem;
}

.account .submitBtn{
  color: #000;
  padding: 4px 10px;
  width:140px;
  height:35px;
  margin-top: 35px;
}


/*update password tab*/
.account .center-tab .password img{
  margin-left:4px;
}
.account .center-tab .password .password-safety{
  margin-left: 120px;
  margin-bottom: 30px;
}
.account .center-tab .password .password-safety div{
  width:50px;
  height:20px;
  color:#fff;
  background-color:#b0b0b0;
  display: flex;
  justify-content: center;
}
