.navigation-component{
  width: 100%;
  height:35px;
  background-color: #ffdb15;
}

/*商品分类*/
.navigation-component .product{
  background-color: #ffcc00;
}

/*首页、批发采购。。。*/
.navigation-component .content{
  width:800px;
  padding-left:50px;
  padding-right:50px;
}

